.block {
    display: inline-block;
    background-color: #ECECED;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    margin-left: 0px;
    height: 30px;
    width: auto;
    border-radius: 10px;
}